<div class="main_wrapper"> 
	<aside class="signup_form float_left">
		<div id="cssmenu" class="float_left movies_left_bar">
			<ul>
					   
			   <li class="all_movie"><label><span>All Movie</span></label></li>
			   <li class="create_movie active"><label><span>Create Movie</span></label></li>
			   <li class="issue_movie"><label><span>Issue Movie</span></label></li>					   					   
				<li class="submit_movie"><label><span>Submit Movie</span></label></li>
				<li class="movie_member"><label><span>Movie Member</span></label></li>
			</ul>
		</div>
        <div class="section_create_movie float_left">
            <form class="form-horizontal float_left">
                            
                <div class="control-group title_edit_info signup float_left clear_left">                                      
                    <label id="page-info" style="color:white;">Create Movie</label>
                </div>
                
                <div class="control-group signup float_left clear_left">
                    <div class="controls">
                    <label class="common_label">Movie Name</label>
                        <input type="text" id="movie_name" name="movie_name" placeholder="Movie Name" />
                    </div>          
                    <label id="admin_add_movie_name_error"></label>
                </div>
        
        		<div class="control-group signup float_left clear_left ">
          			<div class="controls">
          				<label class="common_label">Category</label>
            			<div class="select_multiple_div float_left" style="width:210px;">
            			
				          <select id="category_type" name="category_type" class="dropdown_list membership_type chosen-select float_left" multiple style="width:210px;">
                           		<option value="0">Choose a Category</option>
								<% if(typeof data != 'undefined') { %>
									<% for(var i = 0; i < data.categories.length; i++) { %>						
										<option id="<%= data.categories[i].id%>" value="<%= data.categories[i].id%>"><%= data.categories[i].name %></option>
									<% } %>
								<% } %>							          
				        </select> 
				       </div>
          			</div>          
          			<label id="admin_edit_category_error"></label>
        		</div>
		        
                <div class="control-group signup float_left clear_left">
                    <div class="controls">
                        <label class="common_label">Banner</label>
                        <input type="text" id="banner" name="banner" placeholder="Banner"  value="" >
                    </div>
                    <label id="admin_add_banner_error"></label>
                </div>
                                
                <div class="control-group signup float_left clear_left">
                    <div class="controls">
                        <label class="common_label">Release Date</label>
                        <input type="text" id="release_date" name="release_date" placeholder="Release date"  value="" >
                    </div>
                    <label id="admin_add_release_date_error"></label>
                </div>                                                                  
                
                <div class="control-group signup float_left clear_left">
                    <div class="controls">
                        <label class="common_label">Rent Amount</label>
                        <input type="text" id="rent_amount" name="rent_amount" placeholder="Rent Amount"  value="" >
                    </div>
                    <label id="admin_add_rent_amount_error"></label>
                </div>
                        
                <div class="control-group signup float_left clear_left">
                    <div class="controls">
                        <label class="common_label">Available Copies</label>
                        <input type="text" id="available_copies" name="available_copies" placeholder="Available Copies"  value="" >
                    </div>
                    <label id="admin_add_available_copies_error"></label>
                </div>                                                      

                <div class="control-group signup float_left clear_left signupButtonDiv">
                    <div class="controls">
                    <button type="button" class="btn button_style" name="add_movie_button" id="add_movie_button">Add Movie</button>                            
                    </div>
                </div>
                                                   
            </form>
  		</div>
  		
  		<script src="./js/chosen.jquery.js" type="text/javascript"></script>
	
		<script type="text/javascript">
		    var config = {    		
		      '.chosen-select' : {},	      
		    }
		    for (var selector in config) {
		      $(selector).chosen(config[selector]);
		    }
	  	</script>
  		       		
	</aside>    
</div>         