<form class="form-horizontal float_left" action="" method="post">
	<div class="control-group signup float_left clear_left">
		<div class="controls">
			<label class="common_label float_left">Amount Due: </label>
			<label id="amount_due" class="view_common_value view_amount_due float_left">value</label>
		</div>
		<div class="controls">
			<label id="amount_due_message" class="common_label float_left"></label>
		</div>          		          			
	</div>
	
			        				        		
	<div class="control-group signup float_left saveChangeEditButtonDiv">
		<div class="controls">
			<button type="button" class="btn button_style" name="submit_pay" id="load_pay_screen">Pay</button>		            		
		</div>
	</div>
</form>