<p class="no_login_no_record">No record found</p>
<section class="section_container float_left">
	<section class="movie_default_no_login float_left">		
		<div id="noLoginMovieGridbox" style="width:950px;height:550px;background-color:white;overflow:hidden">
		</div>
		<br>
		<script>
			initNoLoginMoviesGrid();
		</script>					
	</section>  
</section>