<div class="main_wrapper"> 
	<aside class="signup_form float_left">
		<div class="form_signup_toggle float_left">
			  
      		<form class="container signup_container form-horizontal float_left">
      		                
      		    <div class="control-group signup control_login float_left clear_left">		          			          
          			<label id="page-info" style="color:white;">Sign In</label>
        		</div>		        			         		
        
        		<div class="control-group control_login float_left clear_left">
          			<div class="controls">
            			<input type="text" id="email" name="email" placeholder="Email"  value="" >
          			</div>
          			<label id="login_email_error"></label>
        		</div>
                
        		<div class="control-group control_login float_left clear_left">
          			<div class="controls">
            			<input type="password" id="password" name="password" placeholder="Password" >
          			</div>
          			<label id="login_password_error"></label>
        		</div>			        			        			

        		<div class="control-group signup control_login float_left clear_left signupButtonDiv">
          			<div class="controls">
            		<button type="submit" class="btn button_common_style" id="signinButton">Sign In</button>
            		<label id="login_error"></label>
          			</div>
          		</div> 
          		
          		<span class="username_present"></span>
          		    	              
      		</form>
  		</div>      		
	</aside>    
</div>