<body>
	<div class="main_wrapper"> 
		
		<section class="section_container float_left">
			<aside class="signup_form float_left">
			
				<div id='cssmenu' class="float_left members_left_bar">
					<ul>					   
					   <li id="edit_information" class="active"><label><span>Edit Information</span></label></li>
					   <li class="bill_generate"><label><span>Bill generation</span></label></li>				   					   
					</ul>
				</div>								
				
				<section id="user_account_contents" class="edit_my_information float_left">
					<form id="my_account_form" class="form-horizontal float_left">
		      		    
	      		    	<input type="hidden" name="user_login_id" id="user_login_id">
		         		<div class="control-group signup float_left clear_left">
		          			<div class="controls">
		          				<label class="common_label">First Name</label>
		            			<input type="text" id="firstname" placeholder="Firstname" name="firstname" value="">
		          			</div>          
		          			<label id="user_edit_firstname_error"></label>
		        		</div>
		        
		         		<div class="control-group signup float_left marginLeft50">
		          			<div class="controls">
		          				<label class="common_label">Last Name</label>
		            			<input type="text" id="lastname" placeholder="Lastname" name="lastname" value="">
		          			</div>          
		          			<label id="user_edit_lastname_error"></label>
		        		</div>
		        		
		        		<div class="control-group signup float_left clear_left">
		          			<div class="controls">
		          				<label class="common_label">Email</label>
		            			<input type="text" id="email" placeholder="Email" name="email" value="">
		          			</div>          
		          			<label id="user_edit_password_error"></label>
		        		</div>
		        		
		        		<div class="control-group signup float_left marginLeft50">
		          			<div class="controls">
		          				<label class="common_label">Password</label>
		            			<input type="password" id="password" placeholder="Password" name="password" value="">
		          			</div>          
		          			<label id="user_edit_password_error"></label>
		        		</div>
		        		
		        		<div class="control-group signup float_left clear_left">
		          			<div class="controls">
		          				<label class="common_label">SSN</label>
		            			<input type="text" id="ssn" placeholder="SSN" name="lastname" value="">
		          			</div>          
          					<label id="lastname_error"></label>
        				</div>
		        
		         		<!--<div class="control-group signup float_left marginLeft50">
		          			<div class="controls">
		          				<label class="common_label">Confirm password</label>
		            			<input type="text" id="user_edit_con_password" placeholder="Confirm password" name="con_password" value="">
		          			</div>          
		          			<label id="user_edit_con_password_error"></label>
		        		</div>-->
		        
		        		<!--<div class="control-group signup float_left clear_left">
		          			<div class="controls">
		          				<label class="common_label">Email</label>
		            			<input type="text" id="user_edit_email" name="email" placeholder="Email"  value="" >
		          			</div>
		          			<label id="user_edit_email_error"></label>
		        		</div>-->
		                		        
		        		<div class="control-group signup float_left clear_left">
		          			<div class="controls">
		          				<label class="common_label">Street</label>
		            			<input type="text" id="street" name="street" placeholder="Street"  value="" >
		          			</div>
		          			<label id="user_edit_street_error"></label>
		        		</div>	        	        		        			        		
	  					
	  					<div class="control-group signup float_left marginLeft50">
		          			<div class="controls">
		          				<label class="common_label">City</label>
		            			<input type="text" id="city" name="city" placeholder="City"  value="" >
		          			</div>
		          			<label id="user_edit_city_error"></label>
		        		</div>
		        		
		        		<div class="control-group signup float_left clear_left">	
		        			<label class="common_label">State</label>			
	    					<select id="state" name="state" class="dropdown_list user_edit_name_of_state">
	    						<option value="0">Choose a State</option>
	    						<% if(typeof data != 'undefined') { %>
									<% for(var i = 0; i < data.states.length; i++) { %>
										<% if(selection == data.states[i].code) { %>
											<option value="<%= data.states[i].code %>" selected><%= data.states[i].name %></option>
										<% } else { %>
											<option value="<%= data.states[i].code %>"><%= data.states[i].name %></option>
										<% } %>
									<% } %>
								<% } %>	
							</select>    					
	  					</div>
	  					
	  					<div class="control-group signup float_left clear_left zipe_code_adjust">
		          			<div class="controls">
		          				<label class="common_label">Zip Code</label>
		            			<input type="text" id="zipcode1" name="zipcode1" placeholder="Zipcode"  value="" maxlength=5>
		          			</div>
		          			<label id="user_edit_zipcode1_error"></label>
		        		</div>
		        		<span class="zipe_code_divider float_left"></span>
		        		<div class="control-group signup float_left zipe_code_adjust">
		          			<div class="controls">
		          				<label class="common_label">Add On</label>
		            			<input type="text" id="zipcode2" name="zipcode2" placeholder="Add On"  value="" maxlength=4>
		          			</div>
		          			<label id="user_edit_add_on_error"></label>
		        		</div>		        				        		     			
		
		        		<div class="control-group signup float_left clear_left saveChangeEditButtonDiv">
		          			<div class="controls">
		            		<button type="submit" class="btn button_style" name="save_member_info" id="save_member_info">Save Changes</button>		            		
		          			</div>
		          		</div>		          				          		
		          		    	              
		      		</form>
				</section>
			
	</div>
</body>
